<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Hibernate SQL logging (optional, if you want to see SQL) -->
    <!-- <logger name="org.hibernate.SQL" level="DEBUG"/> -->
</configuration>